<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<div id="criar-usuario-container" class="criar-usuario">
  <form id="criar-usuario-box">
    <header class="criar-usuario-titulo">
      <h1>Formulário - Criar Usuário</h1>
    </header>
    <div class="usuario-input">
      <input
        type="text"
        placeholder="Seu nome"
        id="nome"
        name="nome"
        required
      />
    </div>

    <button type="button" class="btn" name="action">Cancelar</button>
    <button type="submit" class="btn" name="action">Salvar</button>
  </form>
</div>
