<h1>{{ data ? "Editar Usuário" : "Criar Usuário" }}</h1>

<form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
  <div class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" formControlName="sobrenome" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label for="cpf">CPF</mat-label>
        <input
          id="cpf"
          matInput
          type="text"
          placeholder="xxx.xxx.xxx-xx"
          formControlName="cpf"
        />
        <div
          *ngIf="
            reactiveForm.get('cpf')?.invalid &&
            (reactiveForm.get('cpf')?.dirty || reactiveForm.get('cpf')?.touched)
          "
        >
          <span style="color: red; font-size: 12px">
            CPF inválido. Deve estar no formato XXX.XXX.XXX-XX
          </span>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dataDeNascimento"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="genero">
        <mat-label><b>Gênero</b></mat-label>
        <mat-radio-button value="feminino">Feminino</mat-radio-button>
        <mat-radio-button value="masculino">Masculino</mat-radio-button>
        <mat-radio-button value="outro">Outro</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Campos Opcionais -->
    <div class="row">
      <h2>Informações opcionais</h2>
      <mat-form-field appearance="outline">
        <mat-label>Nome Social</mat-label>
        <input matInput type="text" formControlName="nomeSocial" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" formControlName="cidade" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput type="text" formControlName="estado" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput type="text" formControlName="cep" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Logradouro</mat-label>
        <input matInput type="text" formControlName="logradouro" />
      </mat-form-field>
    </div>
  </div>

  <div class="actions">
    <button
      mat-raised-button
      type="button"
      (click)="onCancel()"
      routerLink="/home"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!reactiveForm.valid"
    >
      {{ data ? "Editar" : "Salvar" }}
    </button>
  </div>
</form>
