// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.mat-icon {
    font-family: 'Material Icons';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('../background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;

}

.criar-usuario-btn {
    margin-left: 35px;
    width: 100px;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;

}

.custom-table {
    min-width: auto !important;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: auto;
}

.custom-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-table mat-header-cell,
.custom-table mat-cell {
    padding: 8px 16px;
    text-align: center;
}



@media (max-width: 768px) {
    .custom-table {
        width: 100%;
    }

    .custom-table mat-header-cell,
    .custom-table mat-cell {
        padding: 4px 8px;
    }
}